body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #553055;
}

.App {
  background: #4c2a4c;
  margin: 30px auto;
  width: 90%;
  color: #eee;
  max-width: 700px;
  text-align: center;
}

.todo-list {
  margin: 20px;
  padding-bottom: 10px;
}

.todo-list ul {
  padding: 0;
  list-style-type: none;
}

.todo-list li {
  background: #6d3d6d;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.todo-list li:hover {
  opacity: 0.7;
}

form {
  padding: 20px;
}

input[type='text'] {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #3c1f3c;
  color: #fff;
  border: 0;
}

.add-button {
  width: 20%;
  padding: 5px;
  background: #3c1f3c;
  color: #eee;
  border-radius: 10px;
}

.add-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.delete-button {
  background: #3c1f3c;
  color: #eee;
  padding: 5px;
}
